
@font-face {
    font-family: Drybrush;
    src: url(Dry-Brush.ttf);
}


.banner img {
	height: 100vh;
	width: 100%;
	position: relative;
	background-color: pink;
	opacity: .6;
}

.via {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-family: Drybrush;
    color: brown;
	opacity: .9;

}

.pink {
	display: flex;
	justify-content: center;
	align-content: space-between;
	align-content: space-around;
	height: 10vh;
	width: 100%;
	background-color: pink;

}

.pink a {
		text-decoration: none;
}

.me {
	background-color: #DFC87D;
	height: 100vh;
}
.picture4 img {
	border-radius: 50%;
	height: 40vh;
	width: 30%;
	padding-left: 10px;
	padding-top: 10px;
	opacity: .8;
} 

.text4 {
	text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
}

.text5 {
    /* Chrome, Safari, Opera */
    -webkit-column-count: 3;
    -webkit-column-gap: 40px;    
    -webkit-column-rule-style: solid;
    -webkit-column-rule-color: brown;

    /* Firefox */
    -moz-column-count: 3;
    -moz-column-gap: 40px;    
    -moz-column-rule-style: solid;
    -moz-column-rule-color: brown;

    column-count: 3;
    column-gap: 40px;
    column-rule-style: solid;
    column-rule-color: brown;
}


.lifestyle {
	background-color: #DFC87D;
	height: 100vh;
	width 221vh;
}
.picture2 img {
	border-radius: 15px 50px 30px;
	height: 35%;
	width: 30%;
	padding-left: 10px;
	padding-top: 10px;
	opacity: .8;
}

.picture2 img {
	width: 400px;
    height: 200px;
    position: relative;
    -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 5s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 600px;}
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 600px;}
}


.text2 {
	position: absolute;
	font-family: 'Crafty Girls', cursive;
	text-shadow: 2px 2px white;
	border-style: solid;
	padding: 6px;
    border-color: white;
    letter-spacing: 3px;

}

.lifestylename {
	padding-bottom: 180px;
	padding-left: 150px;
	position: absolute;
    left: 15%;
    transform: translate(-50%, -50%);
    font-size: 79px;
    font-family: Drybrush;
    color: white;
} 




.verse img {
	border-radius: 15px 50px 30px;
	height: 40%;
	width: 28%;
	padding-top: 126px;
	padding-left: 900px;
	opacity: .7;
}

border-radius: 15px 50px 30px;
	width: 27%;
	padding-top: 125px;
	padding-left: 900px;
	opacity .10%;

.text3 {
	position: absolute;
	font-family: 'Crafty Girls', cursive;
	text-shadow: 2px 2px white;
	border-style: solid;
    border-color: white;
    padding-left: 50px;
}

.picture1 img {
	border-radius: 15px 50px 30px;
	height: 40%;
	width: 30%;
	padding-left: 10px;
	padding-top: 25px;
	opacity: .7;
}

.picture1 img {
    width: 400px;
    height: 200px;
    position: relative;
    -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 5s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 600px;}
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 600px;}
}

.travel {
	background-color: #DFC87D;
	height: 100vh;
}

.travelname {
	padding-bottom: 185px;
	padding-left: 25px;
	position: absolute;
    left: 15%;
    transform: translate(-50%, -50%);
    font-size: 79px;
    font-family: Drybrush;
    color: white;
} 

.text1 {
	position: absolute;
	font-family: 'Crafty Girls', cursive;
	text-shadow: 2px 2px white;
	border-style: solid;
	padding: 6px;
	border-color: white;
	letter-spacing: 3px;

}

.travelname {
	  font-family: Drybrush;
	  display: flex;
}

.friends img {
	border-radius: 15px 50px 30px;
	height: 45%;
	width: 30%;
	padding-top: 126px;
	padding-left: 900px;
}

.text6 {
	position: absolute;
	font-family: 'Crafty Girls', cursive;
	text-shadow: 2px 2px white;
	border-style: solid;
	padding: 6px;
	border-color: white;
	letter-spacing: 3px;
}

.contact {
	background-color: white;
	height: 100vh;
}