
@font-face {
    font-family: Drybrush;
    src: url(Dry-Brush.ttf);
}


.banner img {
	height: 100vh;
	width: 100%;
	position: relative;
	background-color: pink;
	opacity: .6;
}

.via {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-family: Drybrush;
    color: brown;
	opacity: .9;

}

.pink {
	display: flex;
	justify-content: center;
	align-content: space-between;
	align-content: space-around;
	height: 10vh;
	width: 100%;
	background-color: pink;

}

.pink a {
		text-decoration: none;
}

.travel {
	background-color: #DFC87D;
	height: 100vh;
}

.picture1 img {
	height: 40%;
	width: 30%;
	padding-left: 10px;
	padding-top: 10px;
	opacity: .7;
}

.picture1 img {
    width: 400px;
    height: 200px;
    position: relative;
    -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 5s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 600px;}
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 600px;}
}


.travelname {
	padding-top: 10px;
	padding-left: 10px;
	position: absolute;
    top: 130%;
    left: 15%;
    transform: translate(-50%, -50%);
    font-size: 79px;
    font-family: Drybrush;
    color: white;
	opacity: .9;
} 

.text1 {
	position: absolute;
	font-family: 'Crafty Girls', cursive;
	text-shadow: 2px 2px white;
	border-style: solid;
	border-color: white;

}

.travelname {
	  font-family: Drybrush;
	  display: flex;
}

.lifestyle {
	background-color: pink;
	height: 100vh;
	width 221vh;
}
.picture2 img {
	height: 35%;
	width: 30%;
	padding-left: 10px;
	padding-top: 10px;
	opacity: .8;
}

.text2 {
	position: absolute;
	font-family: 'Crafty Girls', cursive;
	text-shadow: 2px 2px white;
	border-style: solid;
    border-color: white;

}

.lifestylename {
	padding-bottom: 180px;
	padding-left: 150px;
	position: absolute;
    left: 15%;
    transform: translate(-50%, -50%);
    font-size: 79px;
    font-family: Drybrush;
    color: white;
} 

.picture2 img {
    width: 400px;
    height: 200px;
    position: relative;
    -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 5s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 600px;}
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 600px;}
}

.friends img {
	height: 45%;
	width: 30%;
	padding-top: 100px;
	padding-left: 900px;
}
