
@font-face {
    font-family: Drybrush;
    src: url(Dry-Brush.ttf);
}


.banner img {
	height: 100vh;
	width: 100%;
	position: relative;
	background-color: pink;
	opacity: .6;
}

.via {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200px;
    font-family: Drybrush;
    color: #236863;
	opacity: .9;

}

.pink {
	display: flex;
	justify-content: center;
	align-content: space-between;
	align-content: space-around;
	height: 10vh;
	width: 100%;
	background-color: skyblue;

}

.pink a {
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-family: 'Crafty Girls', cursive;

}

.me {
	background-color: pink;
	height: 100vh;
}
.picture4 img {
	border-radius: 30%;
	height: 45vh;
	width: 30%;
	padding-left: 10px;
	padding-top: 10px;
	opacity: .8;
} 

.text4 {
	text-align: center;
	font-family: 'Crafty Girls', cursive;
    text-transform: uppercase;
    color: #236863;;

}

.text5 {
	text-align: center;
	font-family: 'Crafty Girls', cursive;
	text-shadow: 2px 2px skyblue;
	padding: 6px;
    letter-spacing: 3px;
}

.lifestyle {
	background-color: skyblue;
	height: 120vh;
	width 221vh;
}
.picture2 img {
	border-radius: 15px 50px 30px;
	height: 35%;
	width: 30%;
	padding-left: 10px;
	padding-top: 10px;
	opacity: .8;
}

.picture2 img {
	width: 400px;
    height: 200px;
    position: relative;
    -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 5s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 600px;}
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 600px;}
}


.text2 {
	position: absolute;
	font-family: 'Crafty Girls', cursive;
	text-shadow: 2px 2px pink;
	padding: 6px;
    letter-spacing: 3px;
    text-align: center;
    font-size: 20PX;

}

.lifestylename {
	padding-bottom: 180px;
	padding-left: 150px;
	position: absolute;
    left: 15%;
    transform: translate(-50%, -50%);
    font-size: 79px;
    font-family: Drybrush;
    color: white;
} 

.verse img {
	border-radius: 15px 50px 30px;
	height: 40%;
	width: 35%;
	padding-top: 200px;
	padding-left: 500px;
	opacity: .7;
}

border-radius: 15px 50px 30px;
	width: 27%;
	padding-top: 125px;
	padding-left: 900px;
	opacity .10%;

.text3 {
	position: absolute;
	font-family: 'Crafty Girls', cursive;
	text-shadow: 2px 2px white;
	text-align: center;
    padding-left: 50px;
}

.picture1 img {
	border-radius: 15px 50px 30px;
	height: 40%;
	width: 30%;
	padding-left: 10px;
	padding-top: 25px;
	opacity: .7;
}

.picture1 img {
    width: 400px;
    height: 200px;
    position: relative;
    -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 5s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 600px;}
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 600px;}
}

.travel {
	background-color: pink;
	height: 160vh;
}

.travelname {
	padding-bottom: 185px;
	padding-left: 25px;
	position: absolute;
    left: 15%;
    transform: translate(-50%, -50%);
    font-size: 79px;
    font-family: Drybrush;
    color: white;
} 

.text1 {
	position: absolute;
	font-family: 'Crafty Girls', cursive;
	text-shadow: 2px 2px white;
	text-align: center;
	padding: 6px;	
	letter-spacing: 3px;

}

.travelname {
	  font-family: Drybrush;
	  display: flex;
}

.friends img {
	border-radius: 15px 50px 30px;
	height: 40%;
	width: 40%;
	padding-top: 144px;
	padding-left: 500px;
}

.text6 {
	position: absolute;
	font-family: 'Crafty Girls', cursive;
	text-shadow: 2px 2px white;
	text-align: center;
	padding: 6px;
	letter-spacing: 3px;
}

.friend2 img {
	border-radius: 15px 50px 30px;
	width: 40%;
	height:355px;
	padding-left: 500px;
	padding-top: 95px;
	opacity: .7;
}

.education {
	background-color: skyblue;
	height: 100vh;
}

.educname {
	padding-bottom: 185px;
	padding-left: 25px;
	position: absolute;
    left: 15%;
    transform: translate(-50%, -50%);
    font-size: 79px;
    font-family: Drybrush;
    color: white;
} 

.jru img {
	border-radius: 15px 50px 30px;
	height: 400px;
	width: 450px;
	position: relative;
	padding-top: 20px;
	opacity: .6;
}

.jru img {
	width: 400px;
    height: 200px;
    position: relative;
    -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 5s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 600px;}
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 600px;}
}

.text7 {
	position: absolute;
	font-family: 'Crafty Girls', cursive;
	text-shadow: 2px 2px white;
	text-align: center;
	padding: 6px;
	letter-spacing: 3px;
	font-size: 20px;
}

.contact {		
	background-color: pink;
	height: 100vh;
}

.conbanner h1 {
	position: absolute;
	padding-left: 80px;
	font-size: 70px;
	color: #236863;
}

.follow a {
	padding-bottom: 20px;
	text-decoration: none;
	color: white;
	font-size: 40px;
	display: flex;
	align-content: space-around;
	font-family: 'Crafty Girls', cursive;
}

.follow ul {
	padding-top: 215px;
	padding-left: 100px;
}

a:hover {
	background-color: skyblue;
	letter-spacing:3px;
}

footer {
	background-color:skyblue;
	display: flex; 
	justify-content: center;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	font-size: 30px;
}